
@{
    ViewBag.Title = "CrewIntro";
     
}

<h2>CrewIntro</h2>
<div style="width: 50%">
    <table>
        
        <tr>
            <td>
                @Model.Pilot.Name
                <br />
                @Model.Pilot.DoB
            </td>
            <td>
                <img src=@Model.Pilot.ImgPath />
            </td>
        </tr>
        <tr>
            <td>
                @Model.DeckHand1.Name
                <br />
                @Model.DeckHand1.DoB
            </td>
            <td>
                <img src=@Model.DeckHand1.ImgPath />
            </td>
        </tr>
        <tr>
            <td>
                @Model.DeckHand2.Name
                <br />
                @Model.DeckHand2.DoB
            </td>
            <td>
                <img src=@Model.DeckHand2.ImgPath />
            </td>
        </tr>
    </table>
    <button style="margin: 0 auto; display: block" onclick="startEvents()">Onward!</button>
</div>

<script type="text/javascript">

        function startEvents() {
            data = {
                pilot: {
                    name: '@Model.Pilot.Name',
                    doB: '@Model.Pilot.DoB',
                    isDead: '@Model.Pilot.IsDead',
                    toD: '@Model.Pilot.ToD',
                    imgPath: '@Model.Pilot.ImgPath'
                },
                deckhand1: {
                    name: '@Model.DeckHand1.Name',
                    doB: '@Model.DeckHand1.DoB',
                    isDead: '@Model.DeckHand1.IsDead',
                    toD: '@Model.DeckHand1.ToD',
                    imgPath: '@Model.DeckHand1.ImgPath'
                },
                deckhand2: {
                    name: '@Model.DeckHand2.Name',
                    doB: '@Model.DeckHand2.DoB',
                    isDead: '@Model.DeckHand2.IsDead',
                    toD: '@Model.DeckHand2.ToD',
                    imgPath: '@Model.DeckHand2.ImgPath'
                },
                rocketType: '@Model.RocketType'
            };

            $.ajax({
                type: 'POST',
                dataType: "json",
                contentType: 'application/json',
                url: "/Events/CompleteSetup",
                data: JSON.stringify(data),
            });
        }

</script>