@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Choose your Rocket!!!.</p>
<form id="myForm">
    <input type="radio" name="rocket" value="SpaceX" checked> @Model.Rockets[0].Name<br>
    <input type="radio" name="rocket" value="Blue Origin"> @Model.Rockets[1].Name<br>
    <input type="radio" name="rocket" value="NASA"> @Model.Rockets[2].Name<br>
    <input type="radio" name="rocket" value="Foreign">@Model.Rockets[3].Name<br />
    <button id="btnSave">Next!</button>
</form>
